@ font-face {
	семейство шрифтов: «Как можно скорее»;
	src: url ('media / fonts / Asap / Asap-Regular.ttf');
	шрифт: нормальный;
	стиль шрифта: нормальный;
}
@ font-face {
	семейство шрифтов: 'Droid Sans';
	src: url ('media / fonts / Droid_Sans / DroidSans.ttf');
	шрифт: нормальный;
	стиль шрифта: нормальный;
}
@ font-face {
	семейство шрифтов: 'Oleo';
	src: url ('media / fonts / Oleo_Script / OleoScript-Bold.ttf');
	шрифт: нормальный;
	стиль шрифта: нормальный;
}
@ font-face {
	семейство шрифтов: 'AsapB';
	src: url ('media / fonts / Asap / Asap-Bold.ttf');
	font-weight: жирный;
	стиль шрифта: нормальный;
}
@ font-face {
	семейство шрифтов: 'Droid SansB';
	src: url ('media / fonts / Droid_Sans / DroidSans.ttf');
	шрифт: нормальный;
	стиль шрифта: нормальный;
}
@ font-face {
	семейство шрифтов: 'OleoB';
	src: url ('media / fonts / Oleo_Script / OleoScript-Bold.ttf');
	шрифт: нормальный;
	стиль шрифта: нормальный;
}
главный {
    цвет фона: # 001A31;
    padding-bottom: 100 пикселей;
}
h1, h2, h3, h4 {
    семейство шрифтов: 'Oleo';
}

/ * Блок 1 * /

html, body {
    маржа: 0;
    белый цвет;
}
header, footer {
    фоновое изображение: url (media / header-background.png);
}
.logo {
    размер шрифта: 22 пикселя;
}
.menu h4 {
    отступ: 0 20 пикселей;
    шрифт: нормальный;
    border-left: сплошной черный цвет 0,5 пикселя;
}

a {
    белый цвет;
    текстовое оформление: нет;
}
a: hover {
    цвет: серый;
}
header {
    дисплей: гибкий;
    justify-content: пространство вокруг;
    align-items: center;
}
.Социальное {
    позиция: абсолютная;
    верх: 5 пикселей;
    вправо: 260 пикселей;
}
nav.menu {
    дисплей: гибкий;
    flex-direction: ряд;
    гибкая упаковка: nowrap;
}
.Farrow {
    непрозрачность: 0,7;
    позиция: абсолютная;
    вправо: 50 пикселей;
    верх: 243px;
    цвет фона: # 39B6F7;
    радиус границы: 50%;
}
.Sarrow {
    непрозрачность: 0,7;
    позиция: абсолютная;
    преобразовать: повернуть (180 градусов);
    слева: 50 пикселей;
    верх: 243px;
    цвет фона: # 39B6F7;
    радиус границы: 50%;
}
.arrow: hover {
    непрозрачность: 1;
}

/ * Блок 2 * /

.строка {
    дисплей: гибкий;
    гибкая упаковка: nowrap;
    маржа: 0;
    justify-content: center;
}
.row> img {
    максимальная ширина: 350 пикселей;
}

/ * Блок 3 * /

div.greeting {
    маржа: авто;
    ширина: 40%;
    выравнивание текста: центр;
    маржа сверху: 60 пикселей;
}
div.greeting p {
    семейство шрифтов: 'AsapB';
    margin-top: 0;
    размер шрифта: 22 пикселя;
    выравнивание текста: центр;
}
div.greeting h1 {
    нижнее поле: 0;
    размер шрифта: 64 пикселя;
}

/ * Блок 4 * /

.описание {
    маржа: авто;
    цвет фона: # 003F76;
    ширина: 80%;
    дисплей: гибкий;
    гибкая упаковка: nowrap;
    flex-direction: ряд;
    нижнее поле: 100 пикселей;
    маржа сверху: 50 пикселей;
}
.des {
    ширина: 35%;
    дисплей: гибкий
}
.des> div> img {
    маржа: 25px 3px;
}
.des> div> p {
    семейство шрифтов: 'AsapB';
}

/ * Блок 5 * /

div.news {
    ширина: 80%;
    маржа: авто;
    дисплей: гибкий;
    flex-direction: ряд;
    justify-content: пробел между;
    семейство шрифтов: 'Droid SansB';
    высота: 550 пикселей;
}

.welcome {
    ширина: 30%;
    минимальная высота: 100%;
}
.welcome img {
    ширина: 330 пикселей;
    минимальная высота: 100%;
}
.welcome button {
    маржа сверху: 20 пикселей;
}
.newsinto {
    ширина: 30%;
    высота: 100%;
}
.newsinto> div {
    border-left: сплошной серый 1px;
    border-right: сплошной серый цвет 1px;
    отступ справа: 20 пикселей;
    отступ слева: 40 пикселей;
}
.reviews {
    ширина: 30%;
    
}
.reviews div {
    дисплей: гибкий;
    flex-direction: ряд;
    align-items: center;
    вертикальное выравнивание: по центру;
    нижнее поле: 20 пикселей;
}

.reviews> div> img {
    поле справа: 10 пикселей;
}
.reviews> div> p {
    семейство шрифтов: 'Droid SansB';
}
.reviews button {
    маржа сверху: 50 пикселей;
}
p.data {
    цвет: # 20DBF1;
}
.newsinto .rl {
    маржа сверху: 60 пикселей;
}

/ * Блок 6 * /

нижний колонтитул {
    дисплей: гибкий;
    justify-content: пространство вокруг;
    высота: 80 пикселей;
    высота: 100%;
}
button {
    белый цвет;
    фоновое изображение: url (media / header-background.png);
    граница: 0px;
    радиус границы: 2 пикселя;
    отступ: 10px 25px 10px 25px;
    поле справа: 5 пикселей;
    размер шрифта: 18 пикселей;
}
button.rl {
    отступ: 3 пикселя;
}
button: hover {
    белый цвет;
    фоновое изображение: отключено;
    цвет фона: черный;
}

.moreInfo a {
маржа: 10 пикселей;
}